pre {
  color: #000;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px #fff;
  background-color: #fff;
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4),
    -1px -1px 2px rgba(0, 100, 255, 0.4), 0px -1px 2px rgba(0, 255, 0, 0.4);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 0;
  padding-bottom: 0;
}
