.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    font-size: 5.4em;
    margin: 0;
    padding: 0;
    
  }
  
  .hr-margin {
    margin: 0;
    padding: 0;
  }

  marquee {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
   
    font-style: italic;
  }


  marquee:hover {
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #E3B0C5,
						20px 20px #000000;
  }


  