.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
  }
  
  .logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing:0.1em;
  }

  .logo a:hover {
    font-style: italic;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

    letter-spacing:0.1em;
 
  }

  .nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #E3B0C5;
  }
  