/* projects.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 9.2rem;
    font-weight: 100;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
    margin-top: 10rem;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #E3B0C5,
						20px 20px #000000;
}

.container-p {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 1.1fr;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        "column column column"
        "demo demo demo";
}

.column {
    display: grid;
    grid-template-columns: 2.2fr 0.6fr 0.6fr 0.6fr;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        "disc role respons link"
        ". . . .";
    grid-area: column;
}

.disc {
    grid-area: disc;
   

    p {
        font-size: 1.7rem;
     }
}

.role {
    padding-left: 2rem;
    grid-area: role;
    font-size: 1.1rem;

    h3 {
        text-decoration: underline;
        margin-bottom: 0;
    }

    p {
        margin-top: 0.5rem;
    }
}

.respons {
    grid-area: respons;
    font-size: 1.1rem;

    h3 {
        text-decoration: underline;
        margin-bottom: 0;
    }

    p {
        margin-top: 0.5rem;
    }
}

.link {
    padding-left: 2rem;
    grid-area: link;
    font-size: 1.1rem;

    h3 {
        text-decoration: underline;
        margin-bottom: 0;
    }

    a {
        margin-top: 0.5rem;
        color: #E3B0C5;
        text-decoration: none;
        text-transform: lowercase;
    }

    a:hover {
        text-transform: lowercase;
        font-style: italic;

    }
}

.demo {
    grid-area: demo;
    color: #000;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
}
